<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Koa</title>
</head>
<body>
  <h2 class="title">
    hello 
    <!-- 条件语句 -->
    <% if (user) { %>
      <span><%= user.name %></span>
    <% } else { %>
      <span>world</span>
    <% } %> 
  </h2>

  <ul class="list">
    <!-- 循环语句 -->
    <% list.forEach((item) => { %>
      <li><%= item.label %></li>
    <% }) %> 
  </ul>
</body>
</html>